@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/Content/Yamaha3/style/main.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>
       
        function check() {
          
            var radioarr = $("form input[type=radio]");
            var flag = false
            for (var i = 0; i < radioarr.length; i++) {
                if (radioarr[i].checked == true) {
                    if (sessionStorage.pagecount) {
                        sessionStorage.pagecount = Number(sessionStorage.pagecount) + 1;
                        if (sessionStorage.pagecount > 3) {
                            window.location.href = "complete";
                            return false;
                        }
                    }
                    else {
                        sessionStorage.pagecount = 0;
                    }
                flag = true;
                break;
            }
            }
            if (!flag) {
                alert("请选择您的答案");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="timuwrap">
        <a href="/Yamaha3/zong" class="back"> <img src="~/Content/Yamaha3/img/back.png" alt=""></a>
        <p class="title"><strong>@ViewBag.t</strong></p>
        <form action="" method="post" onsubmit="return check()">
            <p class="title"><strong><input name="wenti"  type="hidden" value="@ViewBag.t"></strong></p>
            <div class="choosewrap">
                <input type="radio" name="t1" value="@ViewBag.a" id="xx1"><label for="xx1">@ViewBag.a</label><br>
                <input type="radio" name="t1" value="@ViewBag.b" id="xx2"><label for="xx2">@ViewBag.b</label><br>
                <input type="radio" name="t1" value="@ViewBag.c" id="xx3"><label for="xx3">@ViewBag.c</label><br>
                <input type="radio" name="t1" value="@ViewBag.d" id="xx4"><label for="xx4">@ViewBag.d</label><br>
                <label hidden="hidden">@ViewBag.e</label>
          
            </div>
            <input type="submit" value="" class="submit">
        </form>
    </div>
</body>
</html>
